<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 News</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="stylesheets/customcss.css" rel="stylesheet">
  </head>

  <body>

  <% include navbar %>

    <div class="main-container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Top content</h1>
      </div>
    </div>

    <div>
      <!-- Example row of columns -->
      <div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
                <a href="#" class="list-group-item active">Common tags</a>
        <input type="text" placeholder="Search" class="form-control search-box">
        <a href="#" class="list-group-item">Tag</a>
        <a href="#" class="list-group-item">Tag</a>
        <a href="#" class="list-group-item">Tag</a>
        <a href="#" class="list-group-item">Tag</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
       </div>
      </div>
      <hr>
              <footer>
        <p>&copy; 2017 ECS, VUW.</p>
      </footer>
       <!-- /container -->
     </div>
     </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>

</html>