<div class="main-container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1><%= header %></h1>
      <hr class="header-divider">
    </div>
  </div>

  <div>
    <!-- Example row of columns -->
    <div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item active">Common tags</a>
      <input type="text" placeholder="Search" class="form-control search-box">
      <a href="#" class="list-group-item">Tag</a>
      <a href="#" class="list-group-item">Tag</a>
      <a href="#" class="list-group-item">Tag</a>
      <a href="#" class="list-group-item">Tag</a>
    </div>
  </div>
  <!--/.sidebar-offcanvas-->
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2><%= data.title %></h2>
        <p><%= data.description %></p>
        <p><a class="btn btn-default" href="/article/1" role="button">View more &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
     </div>
    </div>
    <hr>
    <div align="center">
      <div class="pagination">
        <ul class="pagination">
          <li class="prev previous_page ">
            <a rel="prev start" href="/articles?page=1">&#8592; Previous</a>
          </li> 
          <li>
            <a rel="prev start" href="/articles?page=1">1</a>
          </li>
          <li class="active">
            <a href="/articles?page=2">2</a>
          </li>
          <li class="next next_page disabled">
            <a href="#">Next &#8594;</a>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <p>&copy; 2017 ECS, VUW.</p>
    </footer>
     <!-- /container -->
   </div>
   </div>
</div>
