/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom,  #ebebe0 0%, #ccccff 100%);
}

html{
	  min-height: 100%;
}


footer{
	text-align: right;
}

span{
	margin: 2px;
}

/* set color of side nave bar header*/
.list-group-item.active{
	background-color: #333;
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}
.list-group-item.active:hover{
	background-color: #333;
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

.search-result{
	margin-top: 5px;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 5px;
}

.search-inline{
	margin-left: 30%;
	margin-right: 30%;
}

img{
  max-width:100%;
  max-height:100%;
  border-radius: 4px;
}

img.center {
    display: block;
}

/* Create Article */
.create-submit{
	padding-top: 10px;
}

.google:hover {
	background-color: white;
	background-image: linear-gradient(to bottom, #ffffff 0%, #dadada 100%);
}

.nav-container{
	display: inline;

}
.navbar-header{
	padding-left: 5%;
}
.login-items{
	padding-right: 5%;
}

#saved{
	float: center;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 2px solid #686b70;
}

.add-tag{
	cursor: pointer;
	display: none;
	background-color: #0275d8;
}
.tag-input{
	margin-top: 5px;
	display: none;
}

.submit-tag{
	background-color: #5cb85c;
	display: none;
	float: right;
	cursor: pointer;
}

.header-divider{
	color: black;
	border: 2px solid #686b70;
	margin: 0px;
}

.thumb-box{
	height: 100%; 
	width: auto;
	padding-right: 5px; 
	float: left;
}

div .more-btn{
	padding-top: 20px;
	text-align: center; 
	height: 100%; 
	width: 100%;
}

.user-control{
	margin-top: 5px;
	margin-bottom: 10px;
}

.alert{
	text-align: center;
	position:absolute;
  top: 15%;
  left: 40%;
}