/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


footer{
	text-align: right;
}

.form-control .search-box{
	border:1px solid red;
}